.container {
  --border-radius: 10px;

  --color-light: #29e52d;
  --color-dark: #d82228;
  --color-neutral: #ff0;

  --color-shadow-light: rgb(41 229 45 / 40%);
  --color-shadow-dark: rgba(216 34 45 / 40%);
  --color-shadow-neutral: rgb(224 224 81 / 40%);

  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.theme-container {
  position: relative;

  width: 250px;
  height: 450px;
  margin-right: var(--spacing-medium);

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-black);
  cursor: pointer;

  transition: var(--transition);
}

.theme {
  &_light {
    color: var(--color-light);
    text-shadow: 0 0 5px currentcolor;

    &:hover {
      box-shadow: 0 0 7px 2px var(--color-shadow-light);
    }
  }

  &_dark {
    color: var(--color-dark);
    text-shadow: 0 0 5px currentcolor;

    &:hover {
      box-shadow: 0 0 7px 2px var(--color-shadow-dark);
    }
  }

  &_neutral {
    color: var(--color-neutral);
    text-shadow: 0 0 5px currentcolor;

    &:hover {
      box-shadow: 0 0 7px 2px var(--color-shadow-neutral);
    }
  }

  &__title {
    position: absolute;
    bottom: 20px;

    width: 100%;

    font-size: var(--font-size-subheader);
    text-align: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

    border-radius: var(--border-radius);
  }
}
