.wrapper {
  min-width: 200px;
  margin-left: var(--spacing-large);
  padding: var(--spacing-medium) 0;
}

.list {
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-list);

  color: var(--color-white);

  &__episode {
    padding: var(--spacing-extra-small);

    background-color: var(--color-red);
    border-radius: var(--border-radius-small);
  }

  &__colon {
    width: 20px;

    font-weight: var(--font-weight-bold);
    text-align: center;
  }

  &__title {
    text-shadow: var(--text-shadow-yellow);
  }
}

@media screen and (max-width: 1020px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
}
