.text {
  width: 600px;
  margin: 100px auto 0;

  color: var(--color-yellow);
  font-size: var(--font-size-header);
  line-height: 1.7;
  text-align: center;
  text-shadow: 0 0 2px var(--color-white);
  -webkit-text-stroke: 0.5px var(--color-yellow);
  -webkit-text-fill-color: transparent;
}

.video {
  display: block;
  margin: var(--spacing-large) auto 0;

  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-white);
}
