.wrapper {
  width: 300px;
  margin-left: var(--spacing-large);
  padding: var(--spacing-medium);

  color: var(--color-white);

  background: rgb(28 28 28 / 75%);
  border-radius: var(--border-radius-medium);
}

.list {
  &__item {
    margin-bottom: var(--margin-list);
    padding: var(--spacing-extra-small);
  }
}

.item {
  &__label {
    text-decoration: underline;
    text-shadow: var(--text-shadow-blue);
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 100%;
    margin: var(--spacing-medium) 0 0;
  }
}
