.img {
  width: 250px;
  margin: 100px auto 0;
}

.text {
  margin-top: 20px;

  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-subheader);
  text-align: center;
  text-shadow: var(--text-shadow-blue);
}
