.link-container {
  display: inline-flex;
  align-items: center;

  color: var(--color-yellow);
  font-weight: var(--font-weight-bold);

  background: transparent;
}

.image {
  width: 30px;
  height: 30px;
  margin-right: var(--spacing-small);

  object-fit: cover;
  object-position: center center;
}
