:root {
  --color-white: #fff;
  --color-black: #10100e;
  --color-dark-grey: #1a1a1a;

  --spacing-medium: 20px;

  --border-radius-small: 3px;

  --font-family-main:
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    roboto,
    oxygen,
    ubuntu,
    cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}
