:root {
  --color-white: #fff;
  --color-black: #10100e;
  --color-dark-grey: #1a1a1a;
  --color-yellow: #ff0;

  --spacing-medium: 20px;

  --border-radius-small: 3px;

  --font-family-main: -apple-system, system-ui, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
  --font-size-header: 26px;
}
