@use "vars";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-size: var(--font-size-main);
  font-family: var(--font-family-main);

  background-image: var(--theme-default-bgimage);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

button {
  font: inherit;

  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

img {
  display: block;
}

.header__text {
  color: var(--theme-default-header);
  font-size: var(--font-size-header);
  line-height: 1.7;
  text-shadow: 0 0 2px var(--color-black);

  transition: color var(--transition);
}
