@use "vars";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: var(--font-family-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--color-black);
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

button {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
