.container {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-large);
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: var(--spacing-large);

  object-fit: cover;
  object-position: center center;
}

.list {
  display: flex;
  flex-wrap: wrap;

  a {
    display: block;
    min-width: 70px;
    margin: 0 10px;
    padding: 7px 10px;

    color: var(--color-white);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-shadow: var(--text-shadow-yellow);

    border: 2px solid transparent;
    border-radius: var(--border-radius-small);

    transition: var(--transition);

    &:global(.active) {
      color: var(--color-violet);
      text-shadow: none;

      border: 2px solid var(--color-violet);
    }
  }
}
